.header {
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_logo {
    &_img {
      width: 230px;
      height: 40px;
    }
  }
  &_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    &_add {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    &_like {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    &_signin {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
.header_nav_add_text,
.header_nav_like_text,
.header_nav_signin_text {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.plus,
.like,
.signin {
  width: 20px;
  height: 20px;
}
.pluss,
.likes,
.signins {
  display: flex;
  gap: 10px;
  color: black;
}
.pluss:hover,
.likes:hover,
.signins:hover {
  color: #027b9a;
}
@media screen and (max-width: 800px) {
  .header_nav_add_text,
  .header_nav_like_text,
  .header_nav_signin_text {
    display: none;
  }
  .header_nav {
    gap: 20px;
  }
}
@media screen and (max-width: 500px) {
  .header_logo_img {
    width: 160px;
    height: 30px;
  }
}
@media screen and (max-width: 360px) {
  .header_logo_img {
    width: 100px;
    height: 22px;
  }
}
